version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: local_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_DATABASE: demo_db
    ports:
      - "5506:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:

